
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="modal" data-bs-target="#signupModal">Sign up</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            List your business here...
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="btn-group-vertical">
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#venueModal" href="#">venue</a></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#signupModal" href="#">entertainment</a></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#signupModal" href="#">photographer</a></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#signupModal" href="#">vendors</a></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#signupModal" href="#">catering</a></li>
              </div>
          </ul>
        </li>      
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<!-- LOGIN MODAL -->

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login page</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          
          <div class="mb-3 form-group">
            <label for="recipient-name" class="col-form-label">Email Id:</label>
            <input [(ngModel)]="email" name="LogEmail" type="text" class="form-control">
          </div>
          <div class="mb-3 form-group">
            <label for="message-text" class="col-form-label">Password: </label>
            <input [(ngModel)]="password" name="LogPassword" type="text" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="login()" type="button" name="LogButton" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
</div>
<!-- LOGIN MODAL END -->


<!-- SIGN UP MODAL -->

<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign up page</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group mb-3 ">
              <label for="recipient-name" class="col-form-label">Email Id:</label>
              <input [(ngModel)]="signemail" name="SignEmail" type="text" class="form-control">
            </div>
            <div class="form-group mb-3">
              <label for="message-text" class="col-form-label">Password: </label>
              <input [(ngModel)]="signpassword" name="SignPass" type="text" class="form-control">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="signin()" type="button" name="SignButton" class="btn btn-primary">Sign up</button>
        </div>
      </div>
    </div>
  </div>

<!-- SIGN UP MODAL END-->

<!-- VENUE MODAL -->

<div class="modal fade" id="venueModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">List your venue with us...</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group mb-3 ">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input [(ngModel)]="Dname" name="SignEmail" type="text" class="form-control">
          </div>
          <div class="form-group mb-3">
            <label for="message-text" class="col-form-label">Contact:</label>
            <input [(ngModel)]="Dcontact" name="SignPass" type="text" class="form-control">
          </div>
          <div class="form-group mb-3">
            <label for="message-text" class="col-form-label">Area: </label>
            <input [(ngModel)]="Darea" name="SignPass" type="text" class="form-control">
          </div>
          <div class="form-group mb-3">
            <label for="message-text" class="col-form-label">Location: </label>
            <input [(ngModel)]="Dloc" name="SignPass" type="text" class="form-control">
          </div>
          <div class="form-group mb-3">
            <label for="message-text" class="col-form-label">price range: </label>
            <input [(ngModel)]="DpriceRange" name="SignPass" type="text" class="form-control">
          </div>
          <div class="form-group mb-3">
            <label for="message-text" class="col-form-label">Policy: </label>
            <input [(ngModel)]="Dpolicy" name="SignPass" type="text" class="form-control">
          </div>
          <div class="form-group mb-3">
            <label for="message-text" class="col-form-label">Rooms: </label>
            <input [(ngModel)]="Drooms" name="SignPass" type="text" class="form-control">
          </div>
          <div class="form-group mb-3">
            <label for="message-text" class="col-form-label">About: </label>
            <input [(ngModel)]="Dabout" name="SignPass" type="text" class="form-control">
          </div>
          <div class="form-group mb-3">
            <label for="message-text" class="col-form-label">Decorations: </label>
            <input [(ngModel)]="Ddecorations" name="SignPass" type="text" class="form-control">
          </div>
          <div class="form-group mb-3">
            <label for="Image">Upload Images></label>
            <input type="file"  (change)="upload($event)" accept="*.png.jpg">
          </div>
        </form>
      </div>

      <div *ngIf="Dimage.length==0; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>No images uploaded</ng-template>

        <ng-template #elseBlock>
          <div class="card-group">            
            <tr *ngFor="let img of Dimage">  
              <div class="card ">
                <img src={{img}} class="card-img-top" alt="..." width="50" height="50">                
              </div>              
            </tr>
          </div>       
        </ng-template>      
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="Venue()" type="button" name="SignButton" class="btn btn-primary">Sign up</button>
      </div>
    </div>
  </div>

<!-- VENUE MODAL END-->


