




<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal" data-bs-whatever="@mdo">Login</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signupModal" data-bs-whatever="@mdo">Sign up</button>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="btn-group-vertical">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signupModal">Sign up</button>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signupModal">Sign up</button>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signupModal">Sign up</button>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signupModal">Sign up</button>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signupModal">Sign up</button>

            </div>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login page</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          
          <div class="mb-3 form-group">
            <label for="recipient-name" class="col-form-label">Email Id:</label>
            <input [(ngModel)]="email" name="LogEmail" type="text" class="form-control">
          </div>
          <div class="mb-3 form-group">
            <label for="message-text" class="col-form-label">Password: </label>
            <input [(ngModel)]="password" name="LogPassword" type="text" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="login()" type="button" name="LogButton" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign up page</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group mb-3 ">
              <label for="recipient-name" class="col-form-label">Email Id:</label>
              <input [(ngModel)]="signemail" name="SignEmail" type="text" class="form-control">
            </div>
            <div class="form-group mb-3">
              <label for="message-text" class="col-form-label">Password: </label>
              <input [(ngModel)]="signpassword" name="SignPass" type="text" class="form-control">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="signin()" type="button" name="SignButton" class="btn btn-primary">Sign up</button>
        </div>
      </div>
    </div>
  </div>



