<div class="add-product">
  <h1>Update Details</h1>
  <p class="p-message">{{addProductMessage}}</p>
  <form [formGroup]="busniessFrom" (ngSubmit)="submit()" class="common-form">
    <input
      class="form-input"
      ngModel
      name="name"
      type="text"
      placeholder="Enter Busniess Name"
      formControlName="busName"
    />
    <br>

    <input
      class="form-input"
      ngModel
      name="price"
      type="text"
      placeholder="Enter Your price Rang"
      formControlName="pricePack"
    />
<br>
    <input
      class="form-input"
      ngModel
      name="color"
      type="text"
      placeholder="Enter Package"
      formControlName="package"
    />
<br>
    <input
      class="form-input"
      ngModel
      name="category"
      type="text"
      placeholder="Enter Policy"
      formControlName="policy"
    />
<br>
    <textarea
        class="form-input"
        ngModel
        name="description"
        type="text"
        placeholder="Enter Venue Description"
        formControlName="description"
    ></textarea>
<br>
    <input
      class="form-input"
      ngModel
      name="image"
      type="text"
      placeholder="Enter Product Image URL"

    />
<br>
    <button class="form-button">Add Busniess Details</button>
  </form>
</div>


.
<tbody>
  <div class="card-group">
      <div class="container bcontent">
        <div class="card" style="width: 1000px;">
          <div class="row no-gutters">
            <div class="col-sm-5">
              <img class="card-img" src="" onerror="this.src='assets/alternate.png';">
            </div>
            <div class="col-sm-7">
              <div class="card-body">
                <h5 class="card-title">{{this.busniessFrom.value.busName}}</h5>
                <p class="card-text">{{this.busniessFrom.value.pricePack}}</p>
                <p class="card-text">{{this.busniessFrom.value.package}}</p>                    
                <p class="card-text">{{this.busniessFrom.value.policy}}</p>            
                <p class="card-text">{{this.busniessFrom.value.description}}</p>
                <a href="#" class="btn btn-warning">Know More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
  </div>
</tbody>

