h1{
    color: blueviolet;
    text-align: center;
  }
  .add-product{
    text-align: center;
  
  }
  .form-input{
    display: block;
    align-items: center;
    
    margin-left: 40%;
    justify-content: space-between;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  