<h2> Select from dropdown what do you want.... </h2>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a (click)="getProduct('catering')" class="dropdown-item" href="#">catering</a></li>
            <li><a (click)="getProduct('entertainment')" class="dropdown-item" href="#">entertainment</a></li>
            <li><a (click)="getProduct('photographer')" class="dropdown-item" href="#">photographer</a></li>
            <li><a (click)="getProduct('vendors')" class="dropdown-item" href="#">vendors</a></li>
            <li><a (click)="getProduct('venue')" class="dropdown-item" href="#">venue</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br><br>

  <div class="card-group">
    <tr *ngFor="let teacher of products">  
        <div class="card" style="width: 14rem;">
            <img src={{teacher.images[0]}} class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{teacher.name}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{teacher.name}}</li>
                
                <li class="list-group-item">{{teacher.about }}</li>              
                <li class="list-group-item">{{teacher.area}}</li>
            </ul>
            <div class="card-body">
                <button>Explore</button>
            </div>
          </div> 
    </tr>  
    </div>

<!-- <div *ngFor="let item of products">
    <p> Name: {{item.name}} </p>
    <p> about: {{item.about}} </p>
   
    <img src={{item.image}} alt="...">
</div> -->

<br>
<br>