<p>home works!</p>
<div>{{ur}}</div>

<section class="home">
    <form action="">
      <div class="search-box">
        <h1>Choose Your Wedding Tambu</h1>
        <p>Find the Best Wedding Vendors...</p>
        <select type="text" class="search-field">
          <option disabled selected>Select Vendor type</option>
          <option value="Venus">Venus</option>
          <option value="Tambu">Tambu</option>
          <option value="Catering">Catering</option>
          <option value="Photography">Photography</option>
          <option value="Entertainment">Entertainment</option>
          <option value="Vendors">Vendors</option>
        </select>
  
        <select type="text" class="search-field">
          <option disabled selected>City</option>
          <option value="Wardha">Wardha</option>
          <option value="Yavatmal">Yavatmal</option>
          <option value="Nagpur">Nagpur</option>
          <option value="Amravati">Amravati</option>
          <option value="Pusad">Pusad</option>
          <option value="Akola">Akola</option>
        </select>
        <button class="btn">Search</button>
      </div>
    </form>
  </section>